.header-top {
    background-color: #000000;
    color: #F3F3F3;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    height: 25px;
    padding-left: 150px;
}

.menu-regional {
    padding-left: 1480px;
}